spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_CASH_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    flyway:
      enabled: true
      locations: classpath:db/migration
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 50           
        order_inserts: true        # Hibernate will group INSERT
        order_updates: true        # and UPDATE queries
      open-in-view: false
  application:
    name: cashpath
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    cache: false
    encoding: UTF-8
  web:
    encoding:
      enabled: true
      charset: UTF-8
      force: true
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 50
        one-indexed-parameters: false
  security:
    user:
      name: ${SPRING_SECURITY_USERNAME}
      password: ${SPRING_SECURITY_PASSWORD}
server:
  port: 8083
  error:
    whitelabel:
      enabled: false
logging:
  level:
    org.hibernate.type.descriptor.sql: DEBUG
management: #for actuator
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    enable:
      jvm: true
      system: true
      process: true
      http: true
      jdbc: true
      hibernate: true
    tags:
      application: cashpath
global: #for prometeus
  scrape_interval: 10s
scrape_configs:
  - job_name: 'cashpath'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['host.docker.internal:8083']  # from Docker