<!-- -*- coding: utf-8 -*- -->
<div id="gameContainer"
     th:fragment="game-data (game, opportunityCard, passiveIncomes)"
     th:attr="data-current-card-id=${opportunityCard != null ? opportunityCard.id : -1}"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.thymeleaf.org">

    <h3>День <span th:text="${game.currentDay}"></span>
        <span th:if="${#lists.isEmpty(game.players)}">Нет игроков</span>
        <span th:unless="${#lists.isEmpty(game.players)}">
            Ход игрока: <span th:text="${game.players[game.currentTurn].name}"></span>
        </span>
    </h3>

    <div class="clearfix">
        <div th:each="player, iterStat : ${game.players}"
             th:class="'player-card ' + (${iterStat.index} == ${game.currentTurn} ? 'active' : '')">

            <h2 th:text="${player.name}"
                th:classappend="${iterStat.index} == ${game.currentTurn} ? ' active-player-name' : ''">
            </h2>
            <p>💰 Наличные: <b th:text="${#numbers.formatDecimal(player.cash, 1, 2)}"></b> ₴</p>
            <p>💼 Зарплата: <b th:text="${#numbers.formatDecimal(player.salary, 1, 2)}"></b> ₴</p>
            <p>📉 Ежемесячные расходы: <b th:text="${#numbers.formatDecimal(player.monthlyExpenses, 1, 2)}"></b> ₴</p>
            <p>📈 Пассивный доход: <b th:text="${#numbers.formatDecimal(passiveIncomes[iterStat.index], 1, 2)}"></b> ₴</p>

            <h4>Пассивы:</h4>
            <table>
                <thead>
                <tr>
                    <th>Платёж</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${player.liabilities}">
                    <td th:text="${p.name}"></td>
                    <td th:text="${#numbers.formatDecimal(p.monthlyPayment, 1, 2)}"></td>
                </tr>
                </tbody>
            </table>
            <!-- Current purchase for player -->
            <div th:if="${opportunityCard != null and iterStat.index == game.currentTurn}" style="margin-top:20px;padding:15px;border:2px solid #4CAF50;border-radius:10px;background:#f9fff9;">
                <h3>🎯 Текущее предложение покупки:</h3>
                <p><b>Название:</b> <span th:text="${opportunityCard.description}">Название карты</span></p>
                <p><b>Стоимость:</b> <span th:text="${#numbers.formatDecimal(opportunityCard.price, 1, 2)}">0</span> ₴</p>
            </div>
        </div>
    </div>
</div>
