<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CashPath</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>CashPath</h1>

<h2>Создать новую игру</h2>
<form th:action="@{/create-game}" method="post">
    <label>Игрок 1: <input name="player1" /></label><br>
    <label>Игрок 2: <input name="player2" /></label><br>
    <button type="submit">Создать игру</button>
</form>
<p>
    <a th:href="@{/admin}" title="Только для администраторов">Перейти в панель управления</a>
</p>
</body>
</html>
