apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # url points out on container's name of Prometheus in docker network, not localhost.
    url: http://cashpath_prometheus:9090
    isDefault: true